body {
    background-color: aquamarine;
}


.h{
    font-weight: bolder;
    color:blueviolet;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol li{
    color:coral;
}